{% extends 'layout.html' %}
{% block content %}
<form class="mb-5" method=POST enctype=multipart/form-data action="">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4">
            <div id="FileUpload">
                <div class="wrapper">
                    <div class="upload">
                        <p><span class="upload__button" id="select_first">Browse CSV File</span></p>
                        <input id="file_first" style="display: none" type="file" name="file_1" accept=".csv">
                    </div>
                    <div class="uploaded uploaded--one" id="file_upload_1" style="display: none">
                        <i class="fas fa-file-csv"></i>
                        <div class="file">
                            <div class="file__name">
                                <p id="filename_1">lorem_ipsum.csv</p>
                            </div>
                            <div id="filesize_div_1">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4">
            <div id="FileUpload">
                <div class="wrapper">
                    <div class="upload">
                        <p><span class="upload__button" id="select_second">Browse CSV File</span></p>
                        <input id="file_second" style="display: none" type="file" name="file_2" accept=".csv">
                    </div>
                    <div class="uploaded uploaded--two" id="file_upload_2" style="display: none">
                        <i class="fas fa-file-csv"></i>
                        <div class="file">
                            <div class="file__name">
                                <p id="filename_2">lorem_ipsum.csv</p>
                            </div>
                            <div id="filesize_div_2">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4">
            <div id="FileUpload">
                <div class="wrapper">
                    <div class="upload">
                        <p><span class="upload__button" id="select_third">Browse CSV File</span></p>
                        <input id="file_third" style="display: none" type="file" name="file_3" accept=".csv">
                    </div>
                    <div class="uploaded uploaded--three" id="file_upload_3" style="display: none">
                        <i class="fas fa-file-csv"></i>
                        <div class="file">
                            <div class="file__name">
                                <p id="filename_3">lorem_ipsum.csv</p>
                            </div>
                            <div id="filesize_div_3">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="progress mb-3" id="progressDiv" style="display: none; height: 30px;">
        <div id="progressBar" class="progress-bar bg-success progress-bar-animated" style="width:0%"></div>
    </div>
    <input type="submit" class="btn btn-success btn-lg btn-block" id="submitButton" value="Upload">
</form>

<div class="d-flex justify-content-center">
        <div class="spinner-border text-success mb-4" id="loading_spinner" style="width: 6rem; height: 6rem; display: none;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="text-center mb-4" id="loading_msg" style="display: none; font-size: 18px;">
            Hang on, while we process your files...
          </div>

<div class="row mb-5" id="file_downloads" style="display: none">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
        <div id="FileDownload">
            <div class="wrapper">
                <div class="upload">
                    <p><a class="upload__button" style="padding: 10px;" id="download_link_1">Download</a></p>
                </div>
                <div class="uploaded uploaded--one" id="file_download_1">
                    <i class="fas fa-file-csv"></i>
                    <div class="file">
                        <div class="file__name">
                            <p id="filename_1_down">lorem_ipsum.csv</p>
                        </div>
                        <div id="filesize_div_1_down">
                            0.6 MB
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
        <div id="FileDownload">
            <div class="wrapper">
                <div class="upload">
                    <p><a class="upload__button" style="padding: 10px;" id="download_link_2">Download</a></p>
                </div>
                <div class="uploaded uploaded--one" id="file_download_2">
                    <i class="fas fa-file-csv"></i>
                    <div class="file">
                        <div class="file__name">
                            <p id="filename_2_down">lorem_ipsum.csv</p>
                        </div>
                        <div id="filesize_div_2_down">
                            0.5 MB
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
<script src="{{ url_for('static', filename='js/index_page.js') }}"></script>
{% endblock %}