{% extends 'layout.html' %}
{% block content %}

<div id="FileUpload">
    <div class="wrapper">
        <div class="upload">
            <p>Drag files here or <span class="upload__button">Browse</span></p>
        </div>
        <div class="uploaded uploaded--one">
            <i class="fas fa-file-csv"></i>
            <div class="file">
                <div class="file__name">
                    <p>lorem_ipsum.csv</p>
                    <i class="fa fa-times"></i>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%"></div>
                </div>
            </div>
        </div>
        <div class="uploaded uploaded--two">
            <i class="fas fa-file-csv"></i>
            <div class="file">
                <div class="file__name">
                    <p>dolor_sit.csv</p>
                    <i class="fa fa-times"></i>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:80%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}